
<h1>My Test App</h1>
<hr>
<h2>Enter Server Name:</h2>
<input type="text" [(ngModel)]="serverName">
<p>Your awesome server name is: {{serverName}}</p>
<button 
  [disabled]="serverName.length==0" 
  class="btn btn-primary"
  (click)="onResetServerName()">Reset serverName
</button>
<hr>
<button 
  [disabled]="!allowAddServer" 
  (click) = "onAddServer()"
  class="btn btn-primary">Add Server
</button>
<p *ngIf="servers.length>0">Server Created</p>
<app-server></app-server>
<app-server></app-server>

  <app-server *ngFor="let server of servers"></app-server>

<hr>
<app-alerts></app-alerts> 
<hr>
<button (click)="onToggleShowDetails()">
  Toggle Show Details
</button>
<p *ngIf="showDetails">The secret password is: Christian Andersson</p>
<div *ngFor="let buttonClick of buttonClicks; let i=index"
  [ngClass]="{blueback: buttonClicks.length>=5}">
  {{buttonClick}} {{i}}
</div>
